.register-form-container {
    display: block;
    .register-text-top {
        color: $color-black900;
        display: block;
        margin: 1rem 0;
        text-align: center;
        text-decoration: underline;
    }
    .register-text {
        @include font-size(small);
    }
    .btn-microsoft-login {
        @include font-size(small);
        align-content: center;
        align-items: center;
        background-color: $color-gray100;
        border: 1px solid $color-gray800;
        border-radius: 4px;
        color: $color-gray800;
        display: flex;
        gap: 8px;
        text-align: center;
    }
}
